@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import 'https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css/output/moretoggles.min.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: "ds_gooseregular";
  src: url("../fonts/ds_goose-webfont.woff2") format("woff2"), url("../fonts/ds_goose-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tolstyak_heavy";
  src: url("../fonts/tolstyakheavy-webfont.woff2") format("woff2"), url("../fonts/tolstyakheavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: "dsgoose";
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #000;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}
ul li {
  display: flex;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: 0;
}

/* Rose */
.roboto {
  font-family: "Roboto Condensed";
}

.dsgoose {
  font-family: "ds_gooseregular";
}

.tolstyakheavy {
  font-family: "tolstyak_heavy";
}

/* Rose */
.pink {
  width: 5rem;
  height: 5rem;
  left: 2.5555555556rem;
  top: 42.7222222222rem;
  background: #C681B7;
  border: 0.0555555556rem solid #000000;
  display: flex;
}

/* Green */
.green {
  width: 5rem;
  height: 5rem;
  left: 10.1111111111rem;
  top: 42.7222222222rem;
  background: #BAD53D;
  border: 0.0555555556rem solid #000000;
  box-sizing: border-box;
}

/* Blue */
.blue {
  width: 5rem;
  height: 5rem;
  left: 10.1111111111rem;
  top: 42.7222222222rem;
  background: #6381C0;
  border: 0.0555555556rem solid #000000;
  box-sizing: border-box;
}

/* Black */
.black {
  width: 5rem;
  height: 5rem;
  left: 10.1111111111rem;
  top: 42.7222222222rem;
  background: #000;
  border: 0.0555555556rem solid #000000;
  box-sizing: border-box;
}

/* White */
.white {
  width: 5rem;
  height: 5rem;
  left: 10.1111111111rem;
  top: 42.7222222222rem;
  background: #FFF;
  border: 0.0555555556rem solid #000000;
  box-sizing: border-box;
}

.wrapper {
  background: url("../img/bg/pink-with-decor-grey-bg.png");
  color: #FFF;
  font-family: "ds_gooseregular";
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .header__container {
    flex-direction: row;
  }
}

.menu {
  background-color: #BAD53D;
  min-height: 1.1111111111rem;
  color: #FFF;
  width: 100%;
  position: relative;
}
.menu-hidden__list {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 30px;
  left: 0;
  z-index: 20;
  background: #BAD53D;
  border-style: solid;
  border-width: 0rem 0.2777777778rem 0.2777777778rem 0.2777777778rem;
  border-image: url(../img/decor/greenframe.png) 5 5 5 5 repeat repeat;
  border-image-outset: 0.2222222222rem;
  padding: 15px;
}
.menu-hidden__list-active {
  display: flex;
}
.menu::after {
  content: "";
  background: url(../img/decor/green-bottom-decor.png) left top repeat-x;
  height: 0.3888888889rem;
  position: absolute;
  bottom: -0.3888888889rem;
  left: 0rem;
  right: 0rem;
}
.menu__list {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .menu__list {
    display: none;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  font-family: "ds_gooseregular";
  font-size: 1.1111111111rem;
  white-space: nowrap;
}
@media screen and (max-width: 992px) {
  .menu__item {
    margin-right: 0.5555555556rem;
  }
}
.menu__item:last-child {
  margin-right: 0.5555555556rem;
}
.menu__item:before {
  content: url(../img/decor/bluepink-smallsun-decor.png);
  margin-right: 0.1111111111rem;
  margin-top: 0.5555555556rem;
}
@media screen and (max-width: 992px) {
  .menu__item:before {
    display: none;
  }
}

.hamburger {
  display: none;
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: flex;
  }
}
.hamburger-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 3px;
}
.hamburger-icon:before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  border-radius: 3px;
}
.hamburger-icon:after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  border-radius: 3px;
}

.hamburger-icon.hamburger-icon-active {
  background-color: transparent;
}

.hamburger-icon.hamburger-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.hamburger-icon.hamburger-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.search {
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.5555555556rem;
  display: flex;
}
.search__input {
  background: #FFFFFF;
  border: 0.1666666667rem solid #6381C0;
  border-radius: 1.2222222222rem;
  font-family: "ds_gooseregular";
  font-size: 1.1111111111rem;
  color: #6381C0;
}
.search__input::placeholder {
  color: #6381C0;
  margin-left: 0.5555555556rem;
}
@media screen and (max-width: 992px) {
  .search__input {
    max-width: 9.4444444444rem;
  }
}

.carousel {
  background: #FFF;
  min-height: 5.5555555556rem;
  width: 100%;
  display: flex;
}
.carousel__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__item {
  margin-right: 1.6666666667rem;
}
.carousel__item:last-child {
  margin-left: 0;
}
.carousel__block {
  max-height: 5.5555555556rem;
  max-width: 5.5555555556rem;
  overflow: hidden;
}
.carousel__img {
  width: 100%;
  height: 100%;
}

.bx-wrapper {
  box-shadow: none;
  border: 0px solid #fff;
  background: transparent;
  margin-bottom: 0;
}

.slider__title {
  background: #C681B7;
  border-style: solid;
  border-width: 0.2777777778rem 0rem 0.2777777778rem 0rem;
  border-image: url(../img/decor/pinkframe.png) 5 0 5 0 repeat repeat;
  border-image-outset: 0.2222222222rem;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 30px;
}
.slider__text {
  position: relative;
  font-size: 1.2222222222rem;
  text-align: center;
  margin: 0 0.5555555556rem 0 0.5555555556rem;
}
@media screen and (max-width: 1200px) {
  .slider__text {
    font-size: 1.1111111111rem;
  }
}
@media screen and (max-width: 992px) {
  .slider__text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .slider__text {
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 576px) {
  .slider__text {
    font-size: 0.7777777778rem;
  }
}
.slider__text-decor {
  height: 1.3333333333rem;
}
.slider__block {
  background: url(../img/bg/white-with-decor-colors-bg.png);
  color: #C681B7;
  margin-top: 2.2222222222rem;
}
.slider__block-btn {
  max-width: 10vh;
}
.slider__block-btn--rotate {
  transform: rotate(180deg);
}
@media screen and (max-width: 1200px) {
  .slider__block-btn {
    max-width: 8vh;
  }
}
@media screen and (max-width: 992px) {
  .slider__block-btn {
    max-width: 6vh;
  }
}
@media screen and (max-width: 768px) {
  .slider__block-btn {
    max-width: 5vh;
  }
}
@media screen and (max-width: 576px) {
  .slider__block-btn {
    max-width: 4vh;
  }
}
@media screen and (max-width: 480px) {
  .slider__block-btn {
    max-width: 3vh;
  }
}

.slide {
  flex-direction: column;
  padding: 2.2222222222rem;
  flex: 1;
}
@media screen and (max-width: 1200px) {
  .slide {
    padding: 2.2222222222rem 1.1111111111rem;
  }
}
@media screen and (max-width: 992px) {
  .slide {
    padding: 2.2222222222rem 0.5555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    padding: 2.2222222222rem 0.1111111111rem 1.1111111111rem;
  }
}
.slide__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide__top-elem {
  display: flex;
  flex-direction: row;
  color: #6381C0;
}
.slide__top-elem-text {
  margin-left: 10px;
}
.slide__top-elem-img {
  width: 100%;
  height: 100%;
  max-width: 8.3333333333rem;
}
.slide__bottom-elem {
  display: flex;
  flex-direction: row;
}
.slide__bottom-elem-text {
  align-self: flex-end;
}
.slide__bottom-elem-img {
  width: 100%;
  height: 100%;
  max-width: 12.2222222222rem;
}
.slide--font {
  font-size: 1.6666666667rem;
}
@media screen and (max-width: 1200px) {
  .slide--font {
    font-size: 1.3888888889rem;
  }
}
@media screen and (max-width: 992px) {
  .slide--font {
    font-size: 1.1111111111rem;
  }
}
@media screen and (max-width: 768px) {
  .slide--font {
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 576px) {
  .slide--font {
    font-size: 0.7777777778rem;
  }
}
@media screen and (max-width: 1200px) {
  .slide__img {
    max-width: 8.3333333333rem;
  }
}
@media screen and (max-width: 992px) {
  .slide__img {
    max-width: 5.5555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .slide__img {
    max-width: 3.3333333333rem;
  }
}

/* слайдер */
.slider {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("../img/decor/arrow-slide-blue.png");
}

.slider__control_next::before {
  background-image: url("../img/decor/arrow-slide-blue.png");
  transform: rotate(180deg);
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #fff;
}

/* для стилизации текущего слайдера */
.img-fluid {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.section__title {
  background: #6381C0;
  border-style: solid;
  border-width: 0.2777777778rem 0rem 0.2777777778rem 0rem;
  border-image: url(../img/decor/blueframe.png) 5 0 5 0 repeat repeat;
  border-image-outset: 0.2222222222rem;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 30px;
}
.section__text {
  position: relative;
  font-size: 1.2222222222rem;
  text-align: center;
  margin: 0 0.5555555556rem 0 0.5555555556rem;
}
@media screen and (max-width: 1200px) {
  .section__text {
    font-size: 1.1111111111rem;
  }
}
@media screen and (max-width: 992px) {
  .section__text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .section__text {
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 576px) {
  .section__text {
    font-size: 0.7777777778rem;
  }
}
.section__text-decor {
  height: 1.3333333333rem;
}

.preview {
  background: url("../img/bg/pink-with-decor-grey-bg.png");
  min-height: 540px;
}
@media screen and (max-width: 992px) {
  .preview {
    min-height: 460px;
  }
}
@media screen and (max-width: 768px) {
  .preview {
    min-height: 440px;
  }
}
@media screen and (max-width: 576px) {
  .preview {
    min-height: 420px;
  }
}
.preview__slide {
  margin-top: 80px;
}
.preview__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preview__item {
  display: flex;
  margin-right: 10px;
}
.preview__item:last-child {
  margin-right: 0;
}
.preview__controls {
  margin-top: 20px;
}
.preview__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .preview__container {
    flex-direction: column;
  }
}
.preview__link {
  display: flex;
  flex-direction: row;
  min-height: 10px;
  align-items: center;
  color: #C681B7;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .preview__link {
    flex-direction: column;
    margin-left: 0;
  }
}
.preview__link-img {
  height: 100%;
}
.preview__link-img-container {
  height: 40px;
  overflow: hidden;
}
.preview__link-text {
  margin-left: 10px;
  font-size: 26px;
}
@media screen and (max-width: 576px) {
  .preview__link-text {
    font-size: 20px;
  }
}
.preview__input {
  min-width: 315px;
  color: #C681B7;
  border: 0.1666666667rem solid #C681B7;
}
@media screen and (max-width: 576px) {
  .preview__input {
    font-size: 14px;
    min-width: 222px;
  }
}
.preview__input::placeholder {
  color: #C681B7;
}

.poem {
  background: #FFF;
  border-style: solid;
  border-width: 0.2777777778rem 0.2777777778rem 0.2777777778rem 0.2777777778rem;
  border-image: url(../img/decor/whiteframe.png) 5 5 5 5 repeat repeat;
  border-image-outset: 0.2222222222rem;
}

.description {
  background: url("../img/bg/whiteblue-with-decor-colors-bg.png");
  min-height: 400px;
}
@media screen and (max-width: 992px) {
  .description {
    min-height: 350px;
  }
}
.description__container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description__title {
  color: #BAD53D;
  font-size: 36px;
}
@media screen and (max-width: 992px) {
  .description__title {
    font-size: 32px;
  }
}
.description__text {
  color: #6381C0;
  font-size: 20px;
}
.description__text:before {
  content: url(../img/decor/description-left.png);
  position: absolute;
  right: 90%;
  bottom: 11%;
}
@media screen and (max-width: 768px) {
  .description__text:before {
    display: none;
  }
}
.description__text:after {
  content: url(../img/decor/description-right.png);
  position: absolute;
  left: 90%;
  bottom: 16%;
}
@media screen and (max-width: 768px) {
  .description__text:after {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .description__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .description__text {
    font-size: 14px;
  }
}

.footer {
  min-height: 200px;
  background: #FFF;
  color: #000;
}
.footer__block {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__logo {
  max-height: 80px;
}
@media screen and (max-width: 320px) {
  .footer__logo {
    display: none;
  }
}
.footer-menu {
  margin-left: 10px;
}
@media screen and (max-width: 320px) {
  .footer-menu {
    margin-right: 60px;
  }
}
.footer-menu__list {
  font-family: "Roboto Condensed";
  flex-direction: column;
}
.footer__decor {
  object-fit: none;
  max-width: 500px;
  height: 160px;
}
@media screen and (max-width: 992px) {
  .footer__decor {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .footer__decor {
    display: none;
  }
}

.copyright {
  font-family: "Roboto Condensed";
  display: flex;
  justify-content: center;
}
.copyright__desc {
  font-family: "Roboto Condensed";
}
.copyright__text {
  margin-top: 10px;
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .copyright__text {
    font-size: 12px;
  }
}

.share {
  display: flex;
  margin-left: 10px;
  align-items: center;
  flex-direction: column;
}
.share__text {
  font-family: "Roboto Condensed";
}
@media screen and (max-width: 576px) {
  .share__text {
    font-size: 14px;
  }
}

.social__item {
  margin-right: 8px;
}
.social__item:last-child {
  margin-right: 0;
}

.content__title {
  background: #6381C0;
  border-style: solid;
  border-width: 0.2777777778rem 0rem 0.2777777778rem 0rem;
  border-image: url(../img/decor/blueframe.png) 5 0 5 0 repeat repeat;
  border-image-outset: 0.2222222222rem;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 30px;
}
.content__text {
  position: relative;
  font-size: 1.2222222222rem;
  text-align: center;
  margin: 0 0.5555555556rem 0 0.5555555556rem;
}
@media screen and (max-width: 1200px) {
  .content__text {
    font-size: 1.1111111111rem;
  }
}
@media screen and (max-width: 992px) {
  .content__text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .content__text {
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 576px) {
  .content__text {
    font-size: 0.7777777778rem;
  }
}
.content__text-decor {
  height: 1.3333333333rem;
}
.content__main {
  min-height: 100px;
  margin-bottom: 10px;
}

.author {
  display: flex;
  flex-direction: column;
  color: #6381C0;
  background: #FFF;
  padding: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .author {
    padding: 10px 0;
  }
}
.author__container {
  margin-top: 60px;
}
@media screen and (max-width: 480px) {
  .author__container {
    width: 100%;
  }
}
.author__img {
  height: 90%;
}
.author__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .author__title {
    flex-direction: column;
  }
}
.author__title-first {
  margin-bottom: 10px;
}
.author__title-frame {
  flex-direction: column;
  margin-left: 10px;
}
.author__title-list {
  flex-direction: column;
  margin-bottom: 15px;
}
.author__contact {
  display: flex;
  flex-direction: row;
}
.author__contact-list {
  flex-direction: column;
}
.author__description-text {
  font-family: "Roboto Condensed";
  text-indent: 20px;
  text-align: justify;
  line-height: 1.5em;
  color: #000;
}
@media screen and (max-width: 576px) {
  .author__description-text {
    font-size: 16px;
    padding: 10px;
  }
}

.method {
  color: #6381C0;
}
.method__container {
  margin-top: 60px;
  margin-bottom: 10px;
}
.method__title {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.method__title-img {
  margin-bottom: 10px;
  border-radius: 50px;
}
.method__title-text {
  max-width: 68%;
  text-align: center;
  color: #C681B7;
}
.method__before {
  margin-bottom: 20px;
}
.method__before-list {
  display: flex;
  flex-direction: column;
}
.method__before-item {
  margin-bottom: 20px;
}
.method__before-item:last-child {
  margin-bottom: 0;
}
.method__before-img {
  border-radius: 50px;
}
.method__before-img-frame {
  min-width: 30vw;
}
.method__before-text {
  margin-left: 10px;
}
.method__atention {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.method__way {
  margin-bottom: 30px;
}
.method__way-list {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .method__way-desc {
    font-size: 14px;
    font-family: "Roboto Condensed";
  }
}
.method__way-img {
  border-radius: 40px;
}
.method__way-img-frame {
  min-width: 30vw;
  margin-right: 10px;
}
.method__wish {
  text-align: center;
}
.method__wish-text {
  margin-bottom: 10px;
  color: #C681B7;
}
.method__wish-img {
  margin: 0 auto;
  width: 70vw;
  border-radius: 50px;
  max-width: 500px;
}

.contacts {
  padding: 60px 0;
  color: #6381C0;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog {
  margin-top: 50px;
}
.catalog__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.catalog__controls__search {
  max-width: 300px;
}
@media screen and (max-width: 480px) {
  .catalog__controls__search__phones {
    display: none;
  }
}
.catalog__controls__search__input {
  background: #FFF;
  border: 3px solid #C681B7;
  box-sizing: border-box;
  border-radius: 20px;
  color: #C681B7;
}
.catalog__controls__search__input::placeholder {
  color: #C681B7;
  margin-left: 0.5555555556rem;
}
.catalog__controls__filter__select {
  background: #FFF;
  border: 3px solid #C681B7;
  box-sizing: border-box;
  border-radius: 20px;
  color: #C681B7;
  outline: none;
}
.catalog__controls__breadcrambs {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .catalog__controls__breadcrambs__phones {
    display: none;
  }
}
.catalog__controls__breadcrambs__item {
  display: inline-block;
  background: #FFF;
  color: #C681B7;
  border-radius: 50%;
  border: 3px solid #C681B7;
  text-align: center;
  min-width: 30px;
  margin-right: 10px;
}
.catalog__controls__breadcrambs__item:last-child {
  margin-right: 0;
}
.catalog__controls__breadcrambs__item__active {
  color: #FFF;
  background: #C681B7;
}
.catalog__controls__breadcrambs__item__button {
  color: #FFF;
  background: #C681B7;
}
.catalog__controls__switch {
  display: flex;
  border: 3px solid #C681B7;
  border-radius: 30px;
}
.catalog__controls__switch__left {
  background: #C681B7;
  color: #FFF;
  border-radius: 30px 0px 0px 30px;
  padding: 0 10px;
}
.catalog__controls__switch__right {
  background: #FFF;
  color: #C681B7;
  border-radius: 0px 30px 30px 0px;
  padding: 0 10px;
}
.catalog__block {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 576px) {
  .catalog__block {
    flex-direction: column;
    align-items: center;
  }
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog__menu {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  color: #C681B7;
  padding: 8px;
  border-radius: 12px;
  border: 3px solid #C681B7;
  min-width: 260px;
}
.catalog__menu__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.catalog__menu__list {
  display: flex;
  flex-direction: column;
}
.catalog__menu__item {
  margin-bottom: 10px;
}
.catalog__menu__item:last-child {
  margin-bottom: 0;
}
.catalog__item {
  margin: 10px;
}
.catalog__poem {
  display: flex;
  width: 168px;
}
@media screen and (max-width: 480px) {
  .catalog__poem {
    width: 270px;
  }
}
.catalog__img {
  object-fit: cover;
  border-style: solid;
  border-image: url(../../img/decor/whiteframe.png) 5 5 5 5 repeat repeat;
}

.page-error__img {
  margin: 0 auto;
}
.page-error__desc {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}