

.ref_imgWrap {
  max-width: 200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 1em;
  position: relative;
}

.ref_imgWrap img {
  max-width: 100%;
  float: left;
  height: auto;
}

.contRofl_clr,
.wrap {
  width: 100%;
  float: left;
}

.restartPuzzleWrap {
  width: 100%;
  float: left;
  text-align: center;
  padding: 1em 0;
}

.restart_puzzleX999 {
  padding: 1.6em;
  display: inline-block;
  background: orange;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
   -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.35);
   box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.35);
}

.snappuzzle-piece {
 -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
   -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.35);
   box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.35);  
}
/* required snapPuzzle styles */

.puzzleX999_paddedWrap {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

.puzzleX999_imgWrap {
  max-width: 560px;
  padding: 5%;
  padding-top: 0;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.puzzleX999_imgWrap img {
  max-width: 100%;
  float: left;
  height: auto;
}

.puzzleX999_relWrap {
  position: relative;
  display: block;
  max-width: 500px;
  float: left;
}

#puzzleX999_Main {
  width: 100%;
  float: left;
}

.snappuzzle-wrap {
  position: relative;
  display: block;
}
/*snappuzzle-pile { position: relative; }*/

.snappuzzle-piece {
  cursor: move;
}

.snappuzzle-slot {
  position: absolute;
  background: #fff;
  opacity: .8;
}

.snappuzzle-slot-hover {
  background: #eee;
}