<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Stihi
  body
    .wrapper
      header.header
        .menu
          .container.header__container
            .hamburger
             .hamburger-icon
            script(src="./js/hamburger.js")
            ul.menu__list
              li.menu__item
                a.menu__link(href="./index.html") Главная
              li.menu__item
                a.menu__link(href="./catalog.html") Каталог
              li.menu__item
                a.menu__link(href="./method.html") Методичка
              li.menu__item
                a.menu__link(href="./author.html") От автора
              li.menu__item
                a.menu__link(href="./contacts.html") Контакты
            .search
              input.search__input(type="search" placeholder="Поиск по сайту...")
      section.carousel
        .container.carousel__container
          ul.carousel__list
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
      section.content__section        
        .content__title
          .container.content__container
            img.content__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
            .content__text От автора
            img.content__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
        .content__main
          .container.author__container
            .author
              .author__title
                img.author__img(src="./img/content/author/author.png", alt="")
                .author__title-frame
                  .author__title-first СТИШКИ ПРО ДЕТСКИЕ ИГРУШКИ СЛУШАЙТЕ, УШКИ
                  ul.author__title-list
                    li.author__title-item Автор: Владислав Шаповалов.
                    li.author__title-item Художники: Мария Козлова, Надежда Марынина.
                    li.author__title-item Редакторы: Татьяна Затика, Александр Шерстюк
                    li.author__title-item Вёрстка: Сергей Солнцев, Мария Козлова, Марина Королёва
                    li.author__title-item Стихи читает актриса: Елена Полякова
                  ul.author__contact-list
                    li.author__contact-item Контакты: г. Москва п. Московский ул. Адмирала Корнилова д.61,
                    li.author__contact-item e-mail: stihiproigrushki@mail.ru
              .author__description
                .author__description-text
                  p История появления серии детских стихов " Стишки про детские игрушки слушайте, ушки" достаточно интересная. Изначально написания коротких стихов про детские игрушки не задумывалось мной  как создание литературно-художественного  произведения  и даже сочинялись в начале, скорее не стихи, а короткие слоганы, которые могли  уместиться  на упаковке с  небольшими игрушками для детей. Дело в том, что я уже более 25 лет профессионально занимается импортом и реализацией  детских игрушек, с 2003 года  участвует  в международных выставках  " МИР ДЕТСТВА",  "ИГРУШКИ И ИГРЫ", участвует в  благотворительных мероприятиях для детей.  Далее для большего функционального значения упаковки игрушки  хотелось, чтобы придуманные  слоганы ещё служили некой инструкцией к игрушке или описанием того как в неё играть. В результате слоганы превратились в короткие стишки про игрушки для детей  и были напечатаны в первой не иллюстрированной книге «Стишки про детские игрушки слушайте, ушки»  изданной небольшим тиражом. Далее в течение  двух лет появилась серия из двух полностью иллюстрированных  книг с короткими стихами  для детей  2 - 8 лет.  Многие стихи были отредактированы, серия была дополнена новыми стихами про игрушки, игры и детские забавы. Были изданы новые книжки с иллюстрированными стихами и раскрасками.
                  p Более пятисот рисунков,  из которых  были собраны иллюстрации  для стихов, в течение  двух лет рисовались  гуашью замечательной  художницей иллюстратором Марией Козловой, также эти материалы  использованы и для оформления этого сайта. До работы над иллюстрацией  этих книг Мария Козлова уже имела большой опыт работы и ранее  отмечена на Международном конкурсе  А.Н. Толстого в номинации  «Иллюстраторы детских книг» - за вклад в развитее детской литературы и в 2012 вошла в каталог «222 лучших молодых книжных иллюстратора».  В последний год иллюстрацией стихов и созданием раскрасок занимается молодая художница иллюстратор Надежда Марынина.
                  p Я продолжаю работу с детскими игрушками и стихами. В результате работы появился и этот сайт, на котором вы можете,  познакомится  с новыми стишками, не вошедшими в печатные издания, послушать стихи в исполнении профессиональной актрисы  Елены Поляковой, раскрасить онлайн раскраски и поиграть в игру-головоломку «найди отличия» по иллюстрациям. 


        
      footer.footer
        .container
          .footer__block
            img.footer__logo(src="./img/logo/logo-footer.png", alt="")
            .footer-menu
              ul.footer-menu__list
                li.footer-menu__item
                  a.footer-menu__link(href="./index.html") Главная
                li.footer-menu__item
                  a.footer-menu__link(href="./catalog.html") Каталог
                li.footer-menu__item
                  a.footer-menu__link(href="./method.html") Методичка
                li.footer-menu__item
                  a.footer-menu__link(href="./author.html") От автора
                li.footer-menu__item
                  a.footer-menu__link(href="./contacts.html") Контакты
            img.footer__decor(src="./img/decor/footer-middle-bg.png", alt="")
            .share
              .share__text Поделиться в соц сетях:
              .socials
                ul.sosial__list
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/odnoklassniki.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/facebook.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/vk.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/instagram.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/tik-tok.png", alt="")
              .copyright__desc © 2020. Все права защищены.
          .copyright
            .copyright__text
              |Все права на графические, текстовые, музыкальные и иные материалы, представленные на сайте, принадлежат их законным владельцам.
              br
              |Запрещено любое коммерческое использование текстовых, графических и аудио материалов размещённых на сайте!