<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Stihi
  body
    .wrapper
      header.header
        .menu
          .container.header__container
            .hamburger
             .hamburger-icon
            script(src="./js/hamburger.js")
            ul.menu-hidden__list
              li.menu-hidden__item
                a.menu-hidden__link(href="./index.html") Главная
              li.menu-hidden__item
                a.menu-hidden__link(href="./catalog.html") Каталог
              li.menu-hidden__item
                a.menu-hidden__link(href="./method.html") Методичка
              li.menu-hidden__item
                a.menu-hidden__link(href="./author.html") От автора
              li.menu-hidden__item
                a.menu-hidden__link(href="./contacts.html") Контакты
            ul.menu__list
              li.menu__item
                a.menu__link(href="./index.html") Главная
              li.menu__item
                a.menu__link(href="./catalog.html") Каталог
              li.menu__item
                a.menu__link(href="./method.html") Методичка
              li.menu__item
                a.menu__link(href="./author.html") От автора
              li.menu__item
                a.menu__link(href="./contacts.html") Контакты
            .search
              input.search__input(type="search" placeholder="Поиск по сайту...")
      section.carousel
        .container.carousel__container
          ul.carousel__list
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
      section.content__section        
        .content__title
          .container.content__container
            img.content__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
            .content__text Контакты
            img.content__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
        .content__main
        
      footer.footer
        .container
          .footer__block
            img.footer__logo(src="./img/logo/logo-footer.png", alt="")
            .footer-menu
              ul.footer-menu__list
                li.footer-menu__item
                  a.footer-menu__link(href="./index.html") Главная
                li.footer-menu__item
                  a.footer-menu__link(href="./catalog.html") Каталог
                li.footer-menu__item
                  a.footer-menu__link(href="./method.html") Методичка
                li.footer-menu__item
                  a.footer-menu__link(href="./author.html") От автора
                li.footer-menu__item
                  a.footer-menu__link(href="./contacts.html") Контакты
            img.footer__decor(src="./img/decor/footer-middle-bg.png", alt="")
            .share
              .share__text Поделиться в соц сетях:
              .socials
                ul.sosial__list
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/odnoklassniki.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/facebook.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/vk.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/instagram.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/tik-tok.png", alt="")
              .copyright__desc © 2020. Все права защищены.
          .copyright
            .copyright__text
              |Все права на графические, текстовые, музыкальные и иные материалы, представленные на сайте, принадлежат их законным владельцам.
              br
              |Запрещено любое коммерческое использование текстовых, графических и аудио материалов размещённых на сайте!