<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Stihi
  body
    //- проверка подключений
    //- .roboto Roboto Condensed
    //- .dsgoose DSGOOSE
    //- .tolstyakheavy tolstyakheavy
    //- .pink
    //- .green
    //- .blue
    //- .black
    //- .white
    .wrapper
      header.header
        .menu
          .container.header__container
            .hamburger
             .hamburger-icon
            script(src="./js/hamburger.js")
            ul.menu__list
              li.menu__item
                a.menu__link(href="./index.html") Главная
              li.menu__item
                a.menu__link(href="./catalog.html") Каталог
              li.menu__item
                a.menu__link(href="./method.html") Методичка
              li.menu__item
                a.menu__link(href="./author.html") От автора
              li.menu__item
                a.menu__link(href="./contacts.html") Контакты
            .search
              input.search__input(type="search" placeholder="Поиск по сайту...")
      section.carousel
        .container.carousel__container
          ul.carousel__list
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
      section.slider__section        
        .slider__title
          .container.slider__container
            img.slider__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
            .slider__text Стишки про детские игрушки слушайте, ушки
            img.slider__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
        .slider__block
          .container.slide__container
            .slider
              .slider__wrapper
                .slider__items
                  .slider__item
                    .slide
                      .slide__top-elem
                        img.slide__top-elem-img.slide__img(src='./img/slide/slide-book.png' alt='')
                        .slide__top-elem-text.slide--font
                          | Встречайте интерактивное мультимедиа приложение от автора
                          | серии коротких стишков для детских книжек-раскрасок
                      .slide__bottom-elem
                        .slide__bottom-elem-text.slide--font
                          | Все стихи отлично иллюстрированы и содержат мультимедиа
                          | раскраски с играми. Отличное дополнение печатного издания!
                        img.slide__bottom-elem-img.slide__img(src='./img/slide/slide-tablet.png' alt='')
                  .slider__item
                    .slide
                      .slide__top-elem
                        img.slide__top-elem-img.slide__img(src='./img/slide/slide-catalog.png' alt='')
                        .slide__top-elem-text.slide--font
                          | Все стихи собраны в смысловой каталог что облегчает подбор нужного наполнения. Замечательное пособие для преподавателей и работников дошкольних учереждений.
                          
                      .slide__bottom-elem
                        .slide__bottom-elem-text.slide--font
                          | Содержимое проверено и отредактировано для детей от 2 до 8 лет и не требует дополнительной проверки контента.
                        img.slide__bottom-elem-img.slide__img(src='./img/slide/slide-cense.png' alt='')
                  .slider__item
                    .slide
                      .slide__top-elem
                        img.slide__top-elem-img.slide__img(src='./img/slide/slide-expirience.png' alt='')
                        .slide__top-elem-text.slide--font
                          | Автор стихов применяет свой опыт на протяжении несколькоих лет в творчестве. Они способны заинтересовать очень разных детей
                          | серии коротких стишков для детских книжек-раскрасок
                      .slide__bottom-elem
                        .slide__bottom-elem-text.slide--font
                          | Интерактивный контент доступен как на ноутбуках так и на планшетах и смартфонах. Он отлично адаптирован для всех устройств
                          
                        img.slide__bottom-elem-img.slide__img(src='./img/slide/slide-devices.png' alt='')
              a.slider__control.slider__control_prev(href='#' role='button')
              a.slider__control.slider__control_next(href='#' role='button')
              script(src="./js/slider.js")
      section.preview
        .section__title
          .container.section__container
            img.section__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
            .section__text Случайный стишок
            img.section__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
        .preview__slide
          .container
            ul.preview__list
              li.preview__item.poem
                img.poem__img(src="./img/content/preview/poem__small.png", alt="")
              li.preview__item.poem
                img.poem__img(src="./img/content/preview/poem__small-1.png", alt="")
              li.preview__item.poem
                img.poem__img(src="./img/content/preview/poem__small-2.png", alt="")
              li.preview__item.poem
                img.poem__img(src="./img/content/preview/poem__small-3.png", alt="")
              li.preview__item.poem
                img.poem__img(src="./img/content/preview/poem__small-4.png", alt="")
        .preview__controls
          .container.preview__container
            a.preview__link(href="#")
              .preview__link-img-container
                img.preview__link-img(src="./img/decor/catalog.png", alt="")
              .preview__link-text Перейти в каталог
            .search
              input.search__input.preview__input(type="text" placeholder="Поиск по названию или слову")
      section.description
        .description__decor
          .container.description__container
            .description__title Детские стихи
            .description__text
              | Подборки стишков для Нового года, стихи про 8 марта и по темам.
              br
              hr
              | Короткие стихи для детей от 2 до 7 лет с картинками.
              br
              hr
              | Простаяи удобная методичка для воспитателей, преподавателей и родителей.
              br
              hr
              | Бесплатно онлайн РАСКРАСКИ, игра-головоломка "НАЙДИ 5 ОТЛИЧИЙ".
              br
              hr
              | Отличный ресурс для обучения и развития ваших детей!
      footer.footer
        .container
          .footer__block
            img.footer__logo(src="./img/logo/logo-footer.png", alt="")
            .footer-menu
              ul.footer-menu__list
                li.footer-menu__item
                  a.footer-menu__link(href="./index.html") Главная
                li.footer-menu__item
                  a.footer-menu__link(href="./catalog.html") Каталог
                li.footer-menu__item
                  a.footer-menu__link(href="./method.html") Методичка
                li.footer-menu__item
                  a.footer-menu__link(href="./author.html") От автора
                li.footer-menu__item
                  a.footer-menu__link(href="./contacts.html") Контакты
            img.footer__decor(src="./img/decor/footer-middle-bg.png", alt="")
            .share
              .share__text Поделиться в соц сетях:
              .socials
                ul.sosial__list
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/odnoklassniki.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/facebook.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/vk.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/instagram.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/tik-tok.png", alt="")
              .copyright__desc © 2020. Все права защищены.
          .copyright
            .copyright__text
              |Все права на графические, текстовые, музыкальные и иные материалы, представленные на сайте, принадлежат их законным владельцам.
              br
              |Запрещено любое коммерческое использование текстовых, графических и аудио материалов размещённых на сайте!