<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Stihi
  body
    //- проверка подключений
    //- .roboto Roboto Condensed
    //- .dsgoose DSGOOSE
    //- .tolstyakheavy tolstyakheavy
    //- .pink
    //- .green
    //- .blue
    //- .black
    //- .white
    .wrapper
      header.header
        .menu
          .container.header__container
            ul.menu__list
              li.menu__item
                a.menu__link(href="#") Главная
              li.menu__item
                a.menu__link(href="#") Каталог
              li.menu__item
                a.menu__link(href="#") Методичка
              li.menu__item
                a.menu__link(href="#") От автора
              li.menu__item
                a.menu__link(href="#") Контакты
              
            .search
              input.search__input(type="text" placeholder=" Поиск по сайту...")
      section.carousel
        .container.carousel__container
          ul.carousel__list
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
      section.slider        
        .slider__bg
          .container.slider__container
            .slider__title  Стишки про детские игрушки слушайте, ушки

        .slider__block
    