<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Stihi
  body
    //- проверка подключений
    //- .roboto Roboto Condensed
    //- .dsgoose DSGOOSE
    //- .tolstyakheavy tolstyakheavy
    //- .pink
    //- .green
    //- .blue
    //- .black
    //- .white
    .wrapper
      header.header
        .menu
          .container.header__container
            ul.menu__list
              li.menu__item Главная
              li.menu__item Каталог
              li.menu__item Методичка
              li.menu__item От автора
              li.menu__item Контакты
            .search
              input.search__input(type="text" placeholder=" Поиск по сайту...")
          
    
    