<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Stihi
  body
    .wrapper
      header.header
        .menu
          .container.header__container
            .hamburger
             .hamburger-icon
            script(src="./js/hamburger.js")
            ul.menu-hidden__list
              li.menu-hidden__item
                a.menu-hidden__link(href="./index.html") Главная
              li.menu-hidden__item
                a.menu-hidden__link(href="./catalog.html") Каталог
              li.menu-hidden__item
                a.menu-hidden__link(href="./method.html") Методичка
              li.menu-hidden__item
                a.menu-hidden__link(href="./author.html") От автора
              li.menu-hidden__item
                a.menu-hidden__link(href="./contacts.html") Контакты
            ul.menu__list
              li.menu__item
                a.menu__link(href="./index.html") Главная
              li.menu__item
                a.menu__link(href="./catalog.html") Каталог
              li.menu__item
                a.menu__link(href="./method.html") Методичка
              li.menu__item
                a.menu__link(href="./author.html") От автора
              li.menu__item
                a.menu__link(href="./contacts.html") Контакты
            .search
              input.search__input(type="search" placeholder="Поиск по сайту...")
      section.carousel
        .container.carousel__container
          ul.carousel__list
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/rabbit.png", alt="")
            li.carousel__item
              .carousel__block
                img.carousel__img(src="./img/carousel/sofachild.png", alt="")
            li.carousel__item.carousel__tablets
              .carousel__block
                img.carousel__img(src="./img/carousel/dog.png", alt="")
            li.carousel__item.carousel__largetablets
              .carousel__block
                img.carousel__img(src="./img/carousel/girlteddy.png", alt="")
            li.carousel__item.carousel__desktops
              .carousel__block
                img.carousel__img(src="./img/carousel/grandma.png", alt="")
      section.content__section        
        .content__title
          .container.content__container
            img.content__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
            .content__text Методичка
            img.content__text-decor(src="./img/decor/greenpink-bigsun-decor.png", alt="")
        .content__main
          .container.method__container
            .method
              .method__title
                img.method__title-img(src="./img/content/method/before.png", alt="")
                .method__title-text Перед началом занятий с ребенком, следует определить готов ли ваш малыш к ним.  Есть некоторые методы, которые помогают это установить:
              .method__before
                ul.method__before-list
                  li.method__before-item
                    .method__before-img-frame
                      img.method__before-img(src="./img/content/method/bapa.png", alt="")
                    .method__before-text А.  Ребенок перестает путать слоги (ба-па, да-та, жа-за и т.д.).
                  li.method__before-item
                    .method__before-img-frame
                      img.method__before-img(src="./img/content/method/logic.png", alt="")
                    .method__before-text Б. Начинает строить четкие и логически правильные по смыслу предложения.
                  li.method__before-item
                    .method__before-img-frame
                      img.method__before-img(src="./img/content/method/parametrs.png", alt="")
                    .method__before-text В. Различает свойства предметов (красный, синий, сладкий, горячий) и действий (направо налево вперед-назад).
              .method__atention
                .method__atention-text Не стоит сразу приступать к занятиям. Попробуйте подтолкнуть ребенка к этому. Например, положите где-нибудь на видном месте книжку, но сами не указывайте на нее. Пусть он сам ее найдет и природное любопытство сделает за вас часть работы. Ребенок нашел книжку и спрашивает, что это? Вперед вы готовы!
                img.method__atention-img(src="./img/content/method/findbook.png", alt="")
              .method__way
                ul.method__way-list
                  li.method__way-item
                    .method__way-img-frame
                      img.method__way-img(src="./img/content/method/listen.png", alt="")
                    .method__way-desc 1.	Прочитайте стишок спросите ребенка все ли он понял. Объясните ребенка все незнакомые для него слова. Проверьте все ли слова ему теперь понятны. Прочитайте еще раз.
                  li.method__way-item
                    .method__way-desc 2.	Начните с легких и понятных ребенку стишков. Не начинайте сразу с длинных стишков. Пробуйте для разминки на 2 рифмах потом наращивайте до 3-4.
                    .method__way-img-frame
                      img.method__way-img(src="./img/content/method/easy.png", alt="")
                  li.method__way-item
                    .method__way-img-frame
                      img.method__way-img(src="./img/content/method/paint.png", alt="")
                    .method__way-desc 3.	Старайтесь всегда визуализировать стишок, указывая на что-то в повседневной жизни и прикладывайте иллюстрацию к стишку. Порисуйте стишок с ребенком
                  li.method__way-item
                    .method__way-desc 4.	Никогда не читайте стишок быстро и без интонации. Малышу будет гораздо проще понять смысл стишка по вашей интонации. Выразительно и с эмоциями прочитанный стишок всегда легче к восприятию.
                    .method__way-img-frame
                      img.method__way-img(src="./img/content/method/emotion.png", alt="")
                  li.method__way-item
                    .method__way-img-frame  
                      img.method__way-img(src="./img/content/method/proza.png", alt="")
                    .method__way-desc 5.	Если ребенку трудно произносить стишок в рифме. Пусть сначала повторит его своими словами в прозе.
                  li.method__way-item
                    .method__way-desc 6.	Попробуйте поставить маленькую сценку по стишку. Вашему чаду, да и всем домочадцам будет очень интересно и весело поучаствовать в этом.
                    .method__way-img-frame  
                      img.method__way-img(src="./img/content/method/theatr.png", alt="")
                  li.method__way-item
                    .method__way-img-frame  
                      img.method__way-img(src="./img/content/method/dictofon.png", alt="")
                    .method__way-desc 7.	Запишите ребенка на диктофон и дайте прослушать. Ему будет очень любопытно. Возможно, что он будет записывать и Вас.
                  li.method__way-item
                    .method__way-desc 8.	Распечатайте весь стих в крупном шрифте на принтере. Разрежьте его по строкам и прочитайте каждую вырезанную строку. Дайте ребенку попробовать сложить его. Возможно у вас выйдет даже что-то новое.
                    .method__way-img-frame  
                      img.method__way-img(src="./img/content/method/print.png", alt="")
                  li.method__way-item
                    .method__way-img-frame  
                      img.method__way-img(src="./img/content/method/party.png", alt="")
                    .method__way-desc 9.	У вас намечается праздник? Новый год, 8 марта, день рождения дедушки на носу? Воспользуйтесь моментом и предложите выучить стишок как подарок.
                  li.method__way-item
                    .method__way-desc 10. Не нагружайте ребенка одними и теми же упражнениями постоянно. Чередуйте их с другими занятиями. Например, с ездой на велосипеде или просто прогулками. В общем делайте перерывы на другую деятельность.
                    .method__way-img-frame  
                      img.method__way-img(src="./img/content/method/samokat.png", alt="")
                  li.method__way-item
                    .method__way-img-frame  
                      img.method__way-img(src="./img/content/method/klybok.png", alt="")
                    .method__way-desc 11.	Попробуйте совмещать заучивание с действием. Например, с наматыванием клубка, при прочтении каждой строки один виток мотка разматываете, а при произношении наоборот заматываете. Можно также попробовать шаги, одежду и т.д.
              .method__wish
                .method__wish-text Ни в коем случае не наказывайте вашего ребенка. У каждого ребенка свой объём памяти, кому-то легко выучить целую страницу сразу, а кому-то тяжело и первое слово произнести. Все детишки разные, но стараются одинаково. Упорство, похвала и поддержка — вот залог вашего успеха!
                img.method__wish-img(src="./img/content/method/hvala.png", alt="")

      footer.footer
        .container
          .footer__block
            img.footer__logo(src="./img/logo/logo-footer.png", alt="")
            .footer-menu
              ul.footer-menu__list
                li.footer-menu__item
                  a.footer-menu__link(href="./index.html") Главная
                li.footer-menu__item
                  a.footer-menu__link(href="./catalog.html") Каталог
                li.footer-menu__item
                  a.footer-menu__link(href="./method.html") Методичка
                li.footer-menu__item
                  a.footer-menu__link(href="./author.html") От автора
                li.footer-menu__item
                  a.footer-menu__link(href="./contacts.html") Контакты
            img.footer__decor(src="./img/decor/footer-middle-bg.png", alt="")
            .share
              .share__text Поделиться в соц сетях:
              .socials
                ul.sosial__list
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/odnoklassniki.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/facebook.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/vk.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/instagram.png", alt="")
                  li.social__item
                    a.socials__link(href="#")
                      img.socials__pic(src="./img/socials/tik-tok.png", alt="")
              .copyright__desc © 2020. Все права защищены.
          .copyright
            .copyright__text
              |Все права на графические, текстовые, музыкальные и иные материалы, представленные на сайте, принадлежат их законным владельцам.
              br
              |Запрещено любое коммерческое использование текстовых, графических и аудио материалов размещённых на сайте!