@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'ds_gooseregular';
  src: url('../fonts/ds_goose-webfont.woff2') format('woff2'),
       url('../fonts/ds_goose-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tolstyak_heavy';
  src: url('../fonts/tolstyakheavy-webfont.woff2') format('woff2'),
       url('../fonts/tolstyakheavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 
