.carousel {
  background: $white;
  min-height: rem(100px);
  width: 100%;
  display: flex;
  

  
  // &__tablets {
  //   @include tablets {
  //     display: none;
  //   }
  // }

  // &__desktops {
  //   @include desktops {
  //     display: none;
  //   }
  // }
  
  // &__largetablets {
  //   @include largetablets {
  //     display: none;
  //   }
  // }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
    
 

  &__item {
    margin-right: rem(30px);

    &:last-child {
      margin-left: 0;
    }
  }

  &__block {
    max-height: rem(100px);
    max-width: rem(100px);
    overflow: hidden;
    
  }
  
  &__img {

    width: 100%;
    height: 100%;
   
  }

}
.bx-wrapper {
  box-shadow: none;
  border: 0px solid #fff;
  background: transparent;
  margin-bottom: 0;
  max-width:$containerWidth !important;
}

// .bx-viewport {
//   overflow: visible !important;
// }

