.carousel {
  background: $white;
  min-height: 100px;
  width: 100%;
  display: flex;
  
  
  // &::before {
  //   content: '';
  //   background: url(../../img/decor/pink-bottom-decor.png) left top repeat-x;
  //   height: 7px;
  //   position: absolute;
  //   bottom: -7px;
  //   left: 0px;
  //   right: 0px;
  // }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
 

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-left: 0;
    }
  }

  &__block {
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
    
  }
  
  &__img {
    
    // object-fit: cover;
    width: 100%;
    height: 100%;
    // align-items: center;
  }

}

