.description {
  background: url("../img/bg/whiteblue-with-decor-colors-bg.png");
  min-height: 400px;

  @include largetablets {
    min-height: 350px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  &__decor-left {

    @include tablets {
          display: none;
    }
  }
  
  &__decor-right {

    @include tablets {
          display: none;
    }
  }

  &__decor-block {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    color: $green;
    font-size: 36px;

    @include largetablets {
      font-size: 32px;
    }
  }

  &__text {
    color: $blue;
    font-size: 20px;
    white-space: nowrap;

    @include largetablets {
      font-size: 16px;
      white-space: normal
    }

    @include tablets {
      font-size: 14px;
    }
  }

}
