.puzzle {
  background: $white;
  border-style: solid;
  border-width: rem(5px) rem(5px) rem(5px) rem(5px);
  border-image: url(../img/decor/whiteframe.png) 5 5 5 5 repeat repeat;
  border-image-outset: rem(4px);
  max-height: 80vh;
  display: table;

  &__single {
    @include phones {
      justify-content: center;
      display: flex;
    }
  }

  &__full-img {
    max-width: 60vw;
    max-height: 600px; 
  }

  
}