.container_sections_wrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.white-container {
  background: #fff;
  padding: 20px;
  position: relative;
  margin: 7px;
}

.wrap_diff {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;

  @include phones {
    flex-direction: column;
  }
}

.item_a {
  display: flex;
}
.button {
  display: inline-block;
  font-family: "Roboto Condensed",sans-serif;
  background: #6381c0;
  border: 1px solid #6381c0;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  min-width: 146px;
  cursor: pointer;
  color: #fff;
  border-radius: 200px;
}

.picks {
  background-color: none;
  border: 20px solid transparent;
  border-right: 40px solid rgba(255,255,255,0);
}

.picks:before {
  content: ' ';
  background-image: url(/img/dif/pick.png);
  width: 40px;
  display: block;
  position: relative;
  height: 40px;
  top: -20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.answer {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.answer img {
  transform: rotate(180deg);
  max-width: 300px;
  opacity: 0.5;
  border: 2px solid #ccc;
  transition: all 0.3s;
}