.hamburger {
  display: none;
  margin-top: 15px;

  @include phones {
    display: flex;
  }
  
  &-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;

    &:before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      border-radius: 3px;
    }

    &:after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      border-radius: 3px;
    }
  }
}

.hamburger-icon.hamburger-icon-active {
  background-color: transparent;
}

.hamburger-icon.hamburger-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.hamburger-icon.hamburger-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
