.menu {
  background-color: $green;
  min-height: rem(20px);
  color: $white;
  width: 100%;
  position: relative;

  &-hidden {
    
    &__list {

      position: fixed;
      display: none;
      flex-direction: column;
      top: 30px;
      z-index: 20;
      background: $green;
      border-style: solid;
      border-width: rem(5px) rem(5px) rem(5px) rem(5px);
      border-image: url(../../img/decor/greenframe.png) 5 5 5 5 repeat repeat;
      border-image-outset: rem(4px);
      padding: 15px;

      &-active{
        display: flex;
        
      }
      
    }

  }

  &::after {
    content: '';
    background: url(../img/decor/green-bottom-decor.png) left top repeat-x;
    height: rem(7px);
    position: absolute;
    bottom: rem(-7px);
    left: rem(0px);
    right: rem(0px);
  }

  &__list {
    display: flex;
    flex: 1;
    justify-content: space-between;

    @include phones {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-family: $funny;
    font-size: rem(20px);
    white-space: nowrap;

    @include largetablets {
      margin-right: rem(10px);
    }

    &:last-child {
      margin-right: rem(10px);
    }

    &:before {
      content: url(../img/decor/bluepink-smallsun-decor.png);
      margin-right: rem(2px);
      margin-top: rem(10px);
      
      @include largetablets {
        display: none;
      }

    }
  }
}