.poem {
  background: $white;
  border-style: solid;
  border-width: rem(5px) rem(5px) rem(5px) rem(5px);
  border-image: url(../img/decor/whiteframe.png) 5 5 5 5 repeat repeat;
  border-image-outset: rem(4px);
  max-height: 80vh;
  display: table;

  &__single {
    @include phones {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__container {
    @include phones {
      display: flex;
      flex-direction: column;
    }

  }

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__full-img {
    max-width: 60vw;
    max-height: 600px;
    margin: 0 auto;
  }

  &__controls {
    flex-direction: column;
    margin-left: 40px;

    @include phones {
      margin-top: 10px;
      margin-left: 0;
      align-items: center;
    }

    &-img {
      max-width: 50px;
      object-fit: contain;

      @include phones {
        max-width: 30px;
      }
    }

    &-item {
      margin-bottom: 30px;
      flex-wrap: wrap;

      @include phones {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-text {
      color: $blue;
      font-size: 26px;

      @include phones {
        font-size: 16px;
      }
    }
  }

  

}
