.search {
  align-items: center;
  justify-content: flex-end;
  margin-left: rem(10px);
  display: flex;
  

  &__input {
    background: #FFFFFF;
    border: rem(3px) solid $blue;
    border-radius: rem(22px);
    font-family: $funny;
    font-size: rem(20px);
    color: $blue;

    &::placeholder {
      color: $blue;
      margin-left: rem(10px);
    }
    
    @include largetablets {
      max-width: rem(170px);
    } 
  
  }
}