.slider {

  &__bg {
    background-color: $pink;
    min-height: rem(56px);
    position: relative;
    
    &::after {
      content: '';
      background: url(../img/decor/pink-bottom-decor.png) left top repeat-x;
      height: rem(7px);
      position: absolute;
      bottom: rem(-6px);
      left: rem(0px);
      right: rem(0px);
    }

    &::before {
      content: '';
      background: url(../img/decor/pink-top-decor.png) left top repeat-x;
      height: rem(7px);
      position: absolute;
      bottom: rem(55px);
      left: rem(0px);
      right: rem(0px);
    }

  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  &__title {
    margin-top: rem(12px);
    position: relative;
    font-size: rem(22px);
    
    &::before {
      content: '';
      background: url(../img/decor/greenpink-bigsun-decor.png) left top no-repeat;
      background-size: 7%;
      height: rem(60px);
      position: absolute;
      bottom: rem(-22px);
      left: rem(-70px);
      right: rem(0px);
    }

    &::after {
      content: '';
      background: url(../img/decor/greenpink-bigsun-decor.png) right top no-repeat;
      background-size: 6.5%;
      height: rem(60px);
      position: absolute;
      bottom: rem(-22px);
      left: rem(-70px);
      right: rem(-70px);
    }
  }

}