.slide {
  flex-direction: column;
  padding: rem(40px);  
  flex: 1;

  @include desktops {
    padding: rem(40px) rem(20px);
  }

  @include largetablets {
    padding: rem(40px) rem(10px);
  }

  @include tablets {
    padding: rem(40px) rem(2px) rem(20px);
  }  

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__top-elem {
    display: flex;
    flex-direction: row;
    color: $blue;
    margin-bottom: rem(50px);

    &-img {
      width: 100%;
      height: 100%;
      max-width: rem(150px);
    }
    
  }
  
  &__bottom-elem {
    display: flex;
    flex-direction: row;

    &-text {
      align-self: flex-end;
    }

    &-img {
      width: 100%;
      height: 100%;
      max-width: rem(220px);
    }
  }

  &--font {
    font-size: rem(30px);

    @include desktops {
      font-size: rem(25px);
    }

    @include largetablets {
      font-size: rem(20px);
    }

    @include tablets {
      font-size: rem(16px);
    }

    @include landphones {
      font-size: rem(14px);
    }
  }

  &__img {
    @include desktops {
      max-width: rem(150px);
    }

    @include largetablets {
      max-width: rem(100px);
    }

    @include tablets {
      max-width: rem(60px);
    }
    
  }
}