/* Rose */

.roboto {
  font-family: "Roboto Condensed";
}
.dsgoose {
  font-family: "ds_gooseregular";
}
.tolstyakheavy {
  font-family: "tolstyak_heavy";
}



/* Rose */

.pink {
  width: 90px;
  height: 90px;
  left: 46px;
  top: 769px;
  background: $pink;
  border: 1px solid #000000;
  display: flex;
}

/* Green */

.green {
  
  width: 90px;
  height: 90px;
  left: 182px;
  top: 769px;
  background: $green;
  border: 1px solid #000000;
  box-sizing: border-box;
}

/* Blue */

.blue {
  
  width: 90px;
  height: 90px;
  left: 182px;
  top: 769px;
  background: $blue;
  border: 1px solid #000000;
  box-sizing: border-box;
}

/* Black */

.black {
  
  width: 90px;
  height: 90px;
  left: 182px;
  top: 769px;
  background: $black;
  border: 1px solid #000000;
  box-sizing: border-box;
}

/* White */

.white {
  
  width: 90px;
  height: 90px;
  left: 182px;
  top: 769px;
  background: $white;
  border: 1px solid #000000;
  box-sizing: border-box;
}